.card{
    margin:5px;
    min-height: 180px;
    min-width: 400px;
    max-width: 400px;
    height: 100px;
    background-color: black;
    color: gold;
}
button{
    width: 100%;
    color: black;
    background-color: gold;
}